.DS_Store

siteconfig-DO-NOT-COMMIT/

source/build/
source/PluginDev/ProjectSettings/ProjectVersion.txt
source/PluginDev/ProjectSettings/UnityAdsSettings.asset
source/PluginDev/ProjectSettings/UnityAnalyticsManager.asset

StyleCop.Cache
StyleCop.Cache.meta


**/ProjectSettings/GooglePlayGameSettings.txt

**/build/intermediates/

samples/**/obj

samples/**/Temp

samples/**/Assets/GooglePlayGames/
samples/**/Assets/GooglePlayGames.meta
samples/**/Assets/Plugins.meta
samples/**/Assets/Plugins/
samples/**/Library/
samples/**/Library.meta
samples/**/Source/*.csproj
samples/**/*.apk
samples/**/Settings.StyleCop
samples/**/Settings.StyleCop.meta
samples/**/Source/*.sln
samples/**/Source/Source.userprefs
samples/**/Source/ProjectSettings

source/PluginDev/ProjectSettings/GraphicsSettings.asset
source/PluginDev/ProjectSettings/NavMeshAreas.asset

.gradle/
.idea/
