.DS_Store

siteconfig-DO-NOT-COMMIT/

source/build/

StyleCop.Cache
StyleCop.Cache.meta


**/ProjectSettings/GooglePlayGameSettings.txt

**/build/intermediates/

samples/**/obj

samples/**/Temp

samples/**/Assets/GooglePlayGames/
samples/**/Assets/GooglePlayGames.meta
samples/**/Assets/Plugins.meta
samples/**/Assets/Plugins/
samples/**/Library/
samples/**/Library.meta
