PluginDev/Assets/Plugins/Android/google-play-services_lib/
PluginDev/Assets/Plugins/Android/google-play-services_lib.meta
PluginDev/Library/

GPGSUtils/bin/
PluginDev/.DS_Store
PluginDev/Assets/.DS_Store
PluginDev/Assets/Plugins/.DS_Store
PluginDev/Assets/Plugins/Android/.DS_Store
PluginDev/Temp/
SupportLib/.idea/
SupportLib/BaseGameUtils/BaseGameUtils.iml
SupportLib/PlayGamesPluginSupport/PlayGamesPluginSupport.iml
SupportLib/SupportLib.iml

PluginDev/Assets/Plugins/iOS/GPGSParams.h
PluginDev/Assets/Plugins/iOS/GPGSParams.h.meta

PluginDev/Assets/Editor/projsettings.txt
PluginDev/Assets/Editor/projsettings.txt.meta
PluginDev/Assets/Plugins/Android/MainLibProj/AndroidManifest.xml
PluginDev/Assets/Plugins/Android/MainLibProj/AndroidManifest.xml.meta
