*userprefs
*~
test-results
GPGSUtils/bin/
PluginDev.UnitTests/bin/
PluginDev.UnitTests/obj/
PluginDev.UnitTests/test-results/
PluginDev/*.apk
PluginDev/.DS_Store
PluginDev/Assets/.DS_Store
PluginDev/Assets/Editor/projsettings.txt
PluginDev/Assets/Editor/projsettings.txt.meta
PluginDev/Assets/Plugins/.DS_Store
PluginDev/Assets/Plugins/Android/.DS_Store
PluginDev/Assets/Plugins/Android/MainLibProj
PluginDev/Assets/Plugins/Android/google-play-services_lib/
PluginDev/Assets/Plugins/iOS.meta
PluginDev/Assets/Settings.StyleCop.meta
PluginDev/Assets/SmokeTest.meta
PluginDev/Library/
PluginDev/Temp/
PluginDev/obj/
SupportLib/.idea/
SupportLib/**/*.iml
SupportLib/PlayGamesPluginSupport/local.properties

